{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="page-header">
	<h1>Log In To Your Account</h1>
</div>
<div class="row">
	<div class="col-lg-8">
		{% include 'registration/fragments/login_form.html' %}
	</div>
	<div class="col-lg-4">
		{% if form.errors %}
			<div class="alert alert-error" data-alert="alert">
				<strong>Oops!</strong> Looks like there were a few errors.
				{# This block lists off any errors that are not attached to a specific field #}
				{% for field, errors in form.errors.items %}	{# go through each field in the form #}
					{% if field == '__all__' %}					{# if the error is a generic error for all applying to all fields #}
						{% for error in errors %}				{# list each error #}
							<hr>
							{{ error }}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
