{% extends "registration/registration_base.html" %}
{% load custom_tags %}

{% block title %}Confirm password reset{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Confirm password reset</h1>
</div>

<p>Enter your new password below to reset your password</p>
<div class="row">
    <form method="post" action="" class="col-md-4">
        {% csrf_token %}
        {% for field in form %}
            {% render_form_field field %}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Set password" />
    </form>
</div>
{% endblock %}
