{
  "extends": "airbnb",
  "globals": {
    "window": false,
    "document": false,
    "it": false,
    "google": false,
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0
  }
}
