{% extends "base.html" %}
{% load static %}

{% block title %}UN Partner Portal - Where UN Agencies and Civil Society Partners Connect{% endblock title %}

{% block main %}
  <!--Main layout-->
  <main>
    <div class="container" id="benefits">

      <!--Section: Benefits & Features for Prospective Partners-->
      <section>

        <h2 class="h2 text-center mb-5 mt-5">Benefits and Features for Prospective Partners</h2>
		  <p class="mb-5 text-center"><strong>The development of the Portal draws on decades of successful partnership between the UN and civil society, consultations with networks of NGOs, as well as best practices in partnership management, such as the UNHCR Partner Portal, to support the harmonisation and simplification of business processes.</strong>
</p>

        <!--Grid row-->
        <div class="row wow fadeIn mb-5">

          <!--Grid column-->

					<div class="col-lg-3 col-md-6 px-4">
						 <!--First row-->
							<div class="row">
							  <div class="col-2">
								<i class="fa fa-check-circle fa-2x unpp-purple-text"></i>
							  </div>
							  <div class="col-10">
								<h6 class="feature-title">Learn more about UN partnership processes</h6>
								<div style="height:15px"></div>
							  </div>
							</div>
           				 <!--/First row-->
					</div>
				<div class="col-lg-3 col-md-6 px-4">
						 <!--2nd row-->
							<div class="row">
							  <div class="col-2">
								<i class="fa fa-check-circle fa-2x unpp-purple-text"></i>
							  </div>
							  <div class="col-10">
								<h6 class="feature-title">Register and create online profiles once that can be accessed by multiple UN agencies</h6>
								<div style="height:15px"></div>
							  </div>
							</div>
           				 <!--/2nd row-->
					</div>

			<div class="col-lg-3 col-md-6 px-4">
						 <!--3rd row-->
							<div class="row">
							  <div class="col-2">
								<i class="fa fa-check-circle fa-2x unpp-purple-text"></i>
							  </div>
							  <div class="col-10">
								<h6 class="feature-title">View partnership opportunities from multiple UN agencies</h6>

								<div style="height:15px"></div>
							  </div>
							</div>
           				 <!--/3rd row-->
					</div>

			<div class="col-lg-3 col-md-6 px-4">
						 <!--4th row-->
							<div class="row">
							  <div class="col-2">
								<i class="fa fa-check-circle fa-2x unpp-purple-text"></i>
							  </div>
							  <div class="col-10">
								<h6 class="feature-title">Submit concept notes to UN agencies for funding consideration </h6>

								<div style="height:15px"></div>
							  </div>
							</div>
           				 <!--/4th row-->
					</div>








        </div>
        <!--/Grid row-->

		 <h2 class="h2 text-center mb-5 mt-5">Meeting Our Commitments</h2>
		  <p class="mb-5 text-center"><strong>The Portal also represents the efforts of UNHCR, UNICEF and WFP to implement the 2016 World Humanitarian Summits’ Grand Bargain commitments to reduce duplication and management costs and enhance partnerships with local and national actors. </strong></p>

<p class="mb-5 text-center"><strong>The Portal is also designed to encourage harmonization within the UN, and it is expected that more UN agencies and their associated partners will join the Portal in the near future.</strong>
</p>


		<!--Grid row-->
		 <div class="row wow fadeIn mb-5">
		   <!--Grid column-->
          <div class="col-md-12 mx-auto">


            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jQYlGxwSbZ0" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

		  </div>
		  <!--/Grid row-->

      </section>
      <!--Section: /Benefits & Features for Prospective Partners-->

      <hr class="my-5">

      <!--Section: Working Together and Partnering for Success!-->
      <section id="workingtogether">


        <h2 class="my-5 h3 text-center">Working Together and Partnering for Success!</h2>

		  <p class="mb-5 text-center"><strong>Partnerships are essential for achieving development goals.
Working with partners contributes to results, including the delivery of essential services, capacity strengthening, policy advocacy and development innovations.

			  The UN is committed to partnerships to complement resources, to share knowledge and expertise, and to jointly make meaningful long-term impact. </strong>
</p>

		  <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade blackcaption mb-5" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/slide-unhcr-2.jpg' %}" alt="Colombian refugees and their Spainish mentor">
                <div class="mask"></div>
            </div>
            <div class="carousel-caption">
				<p><strong>UNHCR</strong> has partnered with Spanish NGO RESCATE Internacional to implement a befriending programme linking Madrid residents with refugees and asylum seekers. <a href="http://www.unhcr.org/en-us/news/stories/2017/6/593f9ac54/asylum-seekers-hosts-bond-madrid-befriending-project.html" class="" target="_blank"><strong>Read more</strong></a></p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/slide-unicef-2.jpg' %}" alt="UNICEF">
                <div class="mask"></div>
            </div>
            <div class="carousel-caption">

				<p><strong>UNICEF</strong> has partnered with the Assam Branch of the Indian Tea Association (ABITA) to raise awareness and leverage government resources to meet the health, nutrition and water and sanitation needs of excluded and marginalized children and women in the state’s tea gardens. <a href="https://www.unicef.org/partners/Partnership_profile_2012_ABITA_India_V2_approved.pdf" class="" target="_blank"><strong>Read more</strong></a></p>

            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/slide-wfp-2.jpg' %}" alt="WFP">
                <div class="mask"></div>
            </div>
            <div class="carousel-caption">
				<p><strong>WFP</strong> has partnered with Caritas Bolivia to rehabilitate agricultural land in the country and create assets such as community vegetable gardens in order to reduce disaster risk and strengthen livelihoods.  <a href="https://www.wfp.org/node/650093" class="" target="_blank"><strong>Read more</strong></a></p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->






      </section>
      <!--Section: /Working Together and Partnering for Success!h-->





    </div>

	  <div class="container-fluid blue-grey lighten-5">
		  <div class="container">
	   <!--Section: Latest Partnership Opportunities-->
      <section class="pt-5 pb-5">

        <h2 class="mb-5 h3 text-center">Latest Partnership Opportunities</h2>

        <!--First row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-12">
            <!--Grid row-->
            <!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Title</th>
        <th scope="col">Country</th>
        <th scope="col">Agency</th>
        <th scope="col">Sectors</th>
        <th scope="col">Date Posted</th>
        <th scope="col">Submission Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
		 <tr>
        <th scope="row">4</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
		 <tr>
        <th scope="row">5</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div> -->
        <!-- <p class="text-center"><a href="partner-opportunities.html" class="btn btn-primary rounded waves-effect waves-light">View All Partnership Opportunities</a></p> /Grid row -->
        <p class="text-center"><a class="btn btn-primary rounded waves-effect waves-light">Upcoming Feature</a></p><!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: /Latest Partnership Opportunities-->
		  </div>
	  </div>
	  <div class="opsbkg" style="background-image: url('img/backgrounds-opportunities.jpg');"></div>

  </main>
  <!--Main layout-->

  {% endblock main %}