{% extends "base.html" %}
{% load static %}
{% block title %}Partnership Opportunities - UN Partner Portal{% endblock title %}

{% block intro %}
 <!-- Full Page Intro -->
  <div class="unblue">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-unblue-strong d-flex justify-content-center align-items-center introsection">

		
	<div class="container">
		<div class="row justify-content-center">
		  <div class="col-xs-12 col-md-8">
			<!-- Content -->
      <div class="text-center white-text mx-auto wow fadeIn">
		 
        <h1 class="mb-0 h1-responsive">
          <strong>Partnership Opportunities</strong>
        </h1>
		  <p class=""><stong>To apply for a partnership opportunity with any agency, <a href="registration.html" class="text-white text-underline">register</a> and <a href="https://www.unpartnerportal.org/login" class="text-white text-underline">login</a> onto the UN Partner Portal.</stong>


</p>
        </div>
		 

      <!-- Content -->
			  
			</div>
	  </div>
	  

       
      </div>
		
    </div>
	

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

{% endblock intro %}

{% block main %}
  <!--Main layout-->
  <main>
	  
	  
	  
    <div class="container">

     

      

      <!--Section: Meeting Our Commitments-->
      
		
		<section>
		

		  <!--First row-->
        <!-- <div class="row my-5"> -->

          <!--Grid column-->
          <!-- <div class="col-12"> -->
            <!--Grid row-->
            <!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Title</th>
        <th scope="col">Country</th>
        <th scope="col">Agency</th>
        <th scope="col">Sectors</th>
        <th scope="col">Date Posted</th>
        <th scope="col">Submission Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
		 <tr>
        <th scope="row">4</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
		 <tr>
        <th scope="row">5</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div> -->
			 <!--/Grid row-->
          <!-- </div> -->
          <!--/Grid column-->

        <!-- </div> -->
        <!--/First row-->

		  
		  
		  
		  

      </section>
      <!--Section: /Working Together and Partnering for Success!h-->

      <div class="col-xs-12 col-md-8 mt-3 mb-0 mx-auto"> 
        <p class="text-center"><a href="#" class="btn btn-primary rounded waves-effect waves-light">UPCOMING FEATURE</a></p>
      </div>
     

    </div>
	  
    <!-- <div class="container-fluid blue-grey lighten-5"> -->
		 <!-- <div class="row"> -->

          <!--Grid column-->
         
			 <!-- <div class="col-xs-12 col-md-8 mt-3 mb-0 mx-auto">  -->

				 <!-- <a class="text-center"><strong>Sign-up for notifications on new partnership opportunities</strong> -->
           <!-- <a class="text-center"><a href="#" class="btn btn-primary rounded waves-effect waves-light">Subscribe</a></a> -->
<!-- </a> -->
			 <!-- </div> -->
		  <!-- </div> -->
		  <!-- </div> -->
	  
  </main>
  <!--Main layout-->

{% endblock main %}