{% extends "base.html" %}
{% load static %}
{% block title %}Registration - UN Partner Portal{% endblock title %}

{% block intro %}

 <!-- Full Page Intro -->
  <div class="unblue">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-unblue-strong d-flex justify-content-center align-items-center introsection">

		
	<div class="container">
		<div class="row justify-content-center">
		  <div class="col-xs-12 col-md-8">
			<!-- Content -->
      <div class="text-center white-text mx-auto wow fadeIn">
		 
        <h1 class="mb-0 h1-responsive">
          <strong>Registration - partner with us</strong>
        </h1>
		
		  
		
		 

      <!-- Content -->
			  
			</div>
	  </div>
	  

       
      </div>
		
    </div>
	

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

{% endblock intro %}

{% block main %}

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Benefits & Features for Prospective Partners-->
      <section>
		 

        <h2 class="h2 text-center mb-5 mt-5">Who can Partner?</h2>
		  <p>Prospective civil society organizations – non-government organizations, community-based organizations and academic institutions – interested in partnering with the UN Agencies on UNPP are encouraged to register to introduce themselves and their mission, structure, and experience to the UN.</p>
		  <p>The UN Agencies will partner with civil society organizations that are committed to:
</p>
		  <ul>
			  <li>Common humanitarian goals;</li>
			  <li>Core values of the United Nations;</li>
			  <li>The Principles of Partnership; and,</li>
			  <li>Good governance, including transparency, accountability and sound financial management.

			  </li>
		  </ul>
		  <p class=""><strong>Is your organization interested in partnering with us?</strong></p>
<p> <a href="https://www.unpartnerportal.org/registration" class="btn btn-primary rounded waves-effect waves-light">Register today</a></p>
		  
		  
		 
		  
		  
		  
		  
		  
		  
		  
  <p><strong>
	  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-info-circle fa-1x"></i> Are you a business?
        </button>
	  
	  </strong></p>
		  <div class="collapse" id="collapseOne">
  <div class="card card-body">
    Please note that national and international non-governmental organizations, community-based organizations and academic institutes are the intended audience of the UN Partner Portal.
  </div>
</div>
  <p><strong>
	  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-info-circle fa-1x"></i> Want to work for us?
        </button>
	  
	  </strong></p>

<div class="collapse" id="collapseTwo">
  <div class="card card-body">
	  Businesses interested in procurement opportunities with the UN are advised to consult <a href="https://www.ungm.org/" target="_blank">United Nations Global Marketplace</a> 
  </div>
</div>

      </section>
      <!--Section: /Benefits & Features for Prospective Partners-->

      <hr class="my-5">

      <!--Section: Meeting Our Commitments-->
      <section>
		  

        <h2 class="my-5 h3 text-center">What Documents are Needed?</h2>
		  
		  <p class="">To register, partners will be required to complete a detailed organizational profile. Please have the following documents ready, if available:</p>
		  <ul>
			  <li>Governance document</li>
			  <li>Registration document</li>
			  <li>Reference letter from a relevant institution</li>
			  <li>Organizational chart</li>
			  <li>Annual report</li>
			  <li>Audit report</li>
			  <li>Ethics policy or code of conduct</li>
		  
		  </ul>

 <p class=""><strong>Is your organization ready to register on the UN Partner Portal?</strong></p>
<p class="mb-5"> <a href="https://www.unpartnerportal.org/registration" class="btn btn-primary rounded waves-effect waves-light">Register now</a></p>

		 

		  
		  
		  
		  

      </section>
      <!--Section: /Working Together and Partnering for Success!h-->

      

     

    </div>
	  

	  
  </main>
  <!--Main layout-->

{% endblock main %}