{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% block title %}unpp_api{% endblock %}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />

        {% compress css %}
            <!-- Include less files within compress for staging and prod -->
            {% if not is_dev %}
                <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}global/less/index.less">
            {% endif %}
        {% endcompress %}

        {% if is_dev %}
            <!-- On dev, leave less uncompressed and include clientside compiling -->
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}global/less/index.less">
            <script type="text/javascript" src="{{ STATIC_URL }}global/js/less.js"></script>
        {% endif %}

        {% block header_includes %}{% endblock %}
    </head>

    <body>
        {% include 'fragments/navbar.html' %}

        {% include 'fragments/messages.html' %}

        {% block feature %}

        {% endblock %}

        <div class="container">
            {% block body %}

            {% endblock %}
        </div>

        {% include 'fragments/footer.html' %}

    {% block footer_scripts %}{% endblock %}
    </body>
</html>
