# Partner Verification

## Overview

UN agencies conduct Partner Verification \(due diligence\) to review a CSO’s self-reported profile data, and perform an internet search/consultation of other sources.** **

User, with appropriate permissions \(UN HQ Editor, Editor Advanced\) can run new Verification at any time, from a Partner's detailed page. 

Button is placed in a header, under the menu located in the top right of the page.

### Key Functionality & Controls

| Ability to automatically mark a CSO’s profile as “Pending Verification” by default upon entry into the portal. |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Ability to have automated periodic scans of a CSO and its key staff against the UN Security Council sanctions list on the following profile fields:   • Organization Name   •Alias    • Former Legal Name   • First + Last Name of Head of Organization   • Board Members   • Authorized Officials |
| Ability to view potential matches on the UN Security Council Sanctions List and indicate if the organization or individual is ‘Not a true Match’ or a ‘Confirmed Match’. |
| Ability to ensure that the name of a CSO is not flagged in subsequent scans if the potential match on the UN Sanctions list was manually determined to be ‘Not a true match’. |
| Ability to review a CSO’s profile and mark the status of the profile as “Verified” if the CSO meets the verification requirements and “Unverified” if the CSO does not meet the verification requirements. |
| Ability to automatically show if a CSO has an observation or risk flag against its profile, and the content of the observation during verification. |
| Ability to review details of current and past verifications made to a CSO’s profile. |
| Ability to view the date a CSO was verified, the name and agency of the person who performed the verification. |
| Ability to notify agency user when a CSO’s profile was verified more than 5 years ago. |

| Ability to restrict verification to advanced editor and HQ editor roles. |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Ability to restrict the user from verifying a CSO if the profile is incomplete. |
| Ability to restrict verification if there is a potential match of the organization’s name or key personnel on the UN Security Council Sanctions List. |
| Ability to restrict verification of INGO HQ’s to HQ editor. |
| Ability to restrict verifying the CO of INGOs if the HQ profile has status ‘pending verification’ or ‘unverified’ and/or has a red risk flag. |
| Ability to restrict verifying a CSO with a red risk flag. |
| Ability to restrict viewing comments on a verification to advanced editor and HQ editor roles. |
| Ability to prompt user to confirm verification prior to changing verification status. |
| Ability to generate a report on the verification status of CSOs. |
| Ability to compare how many CSOs in the portal have been verified. |

### Restrictions

* UN HQ users can verify INGO HQ profiles. A verification performed by one UN HQ will be accepted by all other agencies.
* CSO can only be verified if their profile is complete.
* INGO COs cannot be verified if the HQ profile has not been verified.



> **without new tab**

## Viewing Verifications

User can view Verifications from Overview tab:

![Verification statuses](../.gitbook/assets/screen-shot-2018-04-16-at-11.56.23.png)

When view details button is clicked, the following modal with details will appear:

![Verification details](../.gitbook/assets/screen-shot-2018-04-16-at-11.56.33.png)

## Adding new verification

To conduct new Verification, users need to answer to the questions in the form, that is open in a modal window.



![Add new verification button](../.gitbook/assets/screen-shot-2018-04-16-at-11.56.42.png)

Verification form contains five questions. 

![Verify Partner&apos;s profile - modal window](../.gitbook/assets/screen-shot-2018-04-16-at-11.56.48.png)

If user chooses respectively: 3x "yes" and 2x "no" partner's profile will be Verified. Otherwise - Unverified. When Verify button is clicked, one of the following modal windows will be shown:

![Verification status - Verified](../.gitbook/assets/screen-shot-2018-04-16-at-12.01.03.png)



![Verification status - Unverified](../.gitbook/assets/screen-shot-2018-04-16-at-12.01.19.png)

> **with new Verification tab**

## Viewing Verifications

User with appropriate permissions can view Verifications from Verifications tab:

![Verification tab](../.gitbook/assets/screen-shot-2018-04-16-at-11.46.58.png)

Each row is expandable and shows verification details. Table provides also information about Verification date and person who conducted this verification.

## Adding new Verification

Adding new verification is possible from header:

![Verify button in header](../.gitbook/assets/screen-shot-2018-04-16-at-11.44.48.png)

To conduct new Verification, users need to answer to the questions in the form, that is open in a modal window. Modal should contain a link to Partner's profile, which will be opened in a separate browser window. The Observations details \(information about risk flags\) will also be provided, so the users could check if any risk flags were added to the profile. To save a modal, users will need to mark a checkbox, to confirm they want to perform the action.

![Verify Partner&apos;s Organization Profile](../.gitbook/assets/screen-shot-2018-04-16-at-12.13.37.png)

![Verify Partner&apos;s Profile - flags details open](../.gitbook/assets/screen-shot-2018-04-16-at-12.13.43.png)

![Checkbox in modal window - unchecked](../.gitbook/assets/screen-shot-2018-04-16-at-12.13.51.png)

![Checkbox in modal window - error when verify without checkbox](../.gitbook/assets/screen-shot-2018-04-16-at-12.13.58.png)

![Checkbox in modal window - checked](../.gitbook/assets/screen-shot-2018-04-16-at-12.14.03.png)

If user chooses respectively: 3x "yes" and 2x "no" partner's profile will be Verified. Otherwise - Unverified. When Verify button is clicked, one of the following modal windows will be shown:

![Verification status - Verified](../.gitbook/assets/screen-shot-2018-04-16-at-12.01.03%20%281%29.png)

![Verification status - Unverified](../.gitbook/assets/screen-shot-2018-04-16-at-12.01.19%20%281%29.png)

**Available statuses of verification**: Pending, Verified, Unverified.



