# Partner Verification

UN agencies conduct Partner Verification \(due diligence\) to review a CSO’s self-reported profile data, and perform an internet search/consultation of other sources.** **User, with appropriate permissions \(UN HQ Editor, Editor Advanced\) can run new Verification at any time, from a Partner's detailed page. Button is placed in a header, under the menu located in the top right of the page.

### Restrictions

* UN HQ users can verify INGO HQ profiles. A verification performed by one UN HQ will be accepted by all other agencies.
* CSO can only be verified if their profile is complete.
* INGO COs cannot be verified if the HQ profile has not been verified.

### Adding new Verification

To conduct new Verification, users need to answer to the questions in the form, that is open in a modal window. Modal should contain a link to Partner's profile, which will be opened in a separate browser window. The link to Observations tab will also be provided, so the users could check if any risk flags were added to the profile. To save a modal, users will need to mark a checkbox, to confirm they want to perform the action.

**Available statuses of verification**: Pending, Verified, Unverified.



