// Template style

/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.0);
}

.top-nav-collapse {
  background-color: #2196F3;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2196F3;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #2196F3;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}
.text-underline{
	text-decoration: underline;
}
/* UN Blue background */